<div class="header-layout">
  <div class="logo inline-flex align-items-center">
  </div>
  <div class="menubar">
    <div class="dropdown-menu user">
      <p-menu
        #userPopup
        [showTransitionOptions]="'0ms'"
        [hideTransitionOptions]="'0ms'"
        [popup]="true"
        [model]="userMenu"
      ></p-menu>
      <button
        pButton
        type="button"
        icon="pi pi-chevron-down"
        iconPos="right"
        [label]="username"
        (click)="userPopup.toggle($event)"
        class="p-button-rounded p-button-secondary p-button-text"
      >
      </button>
    </div>

    <div class="dropdown-menu ml-0">
      <p-menu
        #helpCenterPopup
        [showTransitionOptions]="'0ms'"
        [hideTransitionOptions]="'0ms'"
        [popup]="true"
        [model]="helpCenterMenu"
      ></p-menu>
      <button
        pButton
        pRipple
        type="button"
        icon="icomoon icon-help-circle"
        class="p-button-rounded p-button-secondary p-button-text"
        (click)="helpCenterPopup.toggle($event)"
      ></button>
    </div>
  </div>
</div>
