<h2>Played Matches</h2>

<br>
<p-button label="Refresh Matches" (onClick)="refreshMatchesSubmit($event)"></p-button>

<p-scrollPanel [style]="{width: '100%', height: '350px', 'overflow-x': 'hidden', 'margin-top': '20px'}">
  <app-match-form *ngFor="let match of matches" [name]="match.match.name" [user]="match.user.userName" [value]="match.value">
  </app-match-form>
</p-scrollPanel>

<h2 style="margin-top: 50px;">Current Match</h2>
<app-match-form [name]="currentMatch.name" [timeStamp]="currentMatch.timeStamp">
</app-match-form>

<p-button [disabled]="isDisabled" label="Play Game" (onClick)="handleSubmit($event)" styleClass="p-button-outlined"></p-button>

<h1>
  Your Value {{randomValue}}
</h1>